<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Chef Ware</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/jquery.countdownTimer.css" />

</head>

<script type="text/javascript">

window.onload = function() {

   var apiKey = "G5a62k9YEgh62xRZV1H6WklJ79hnjvOu";
        var recipeId = ra;
        var url = "http://api.bigoven.com/recipe/" + recipeId + "?api_key=" + apiKey;
        $.ajax({
            type: "GET",
            dataType: 'json',
            cache: false,
            url: url,
            success: function (ra) {

              console.log(ra.Title);
              
              update_obj.recipe = ra.Title;

              console.log(ra.Instructions);

             // grab the instructions
            theInstructions = ra.Instructions;
            // go through instructions and if we find an abrievation fix it
            theInstructions = theInstructions.replace("sec.", "seconds");
            theInstructions = theInstructions.replace("min.", "minutes");
            theInstructions = theInstructions.replace("approx.", "approximately");
            theInstructions = theInstructions.replace(".)", ").");
            theInstructions = theInstructions.replace("...", ".");

            // go through instructions and split everyone at the period
            res = theInstructions.split(".");
            ingrediants = ra.Ingredients;

            $("#ingred").append('<ul>');

           // display ingrediants
           for(var q = 0; q < ingrediants.length; q++) {

      	     // check if units is null
      	     if(ingrediants[q].Unit){
      		    var unit = " " + ingrediants[q].Unit;
      	      }
      	      else {
      		    unit = "";
      	      }
      	      // check if Display Quantity
      	      if(ingrediants[q].DisplayQuantity) {
                 var display = ingrediants[q].DisplayQuantity;
      	       }
      	       else {
      		     display = "";
      	       }
                 $("#ingred").append("<li>" + display + unit + " "+ capitalizeFirstLetter(ingrediants[q].Name) + "</li>");
               }

               $("#ingred").append("</ul>");


               // remove last element becuase its empty
               res.pop();

               // add the final message
               res.push("Enjoy your " + ra.Title);
      
               // loop through results and trim white space
               for(var i = 0; i < res.length; i++) {
                  res[i] = res[i].trim();

                  // remove elemnt from the array if it is empty
                  if(res[i] == "" || res[i] == " ") {
                    res.splice(i, 1);
                  }


                  console.log(res[i]);
                }

                // variable to keep track of current instruction
                currentInstruction = 0;

                // print out the first instructions
                document.getElementById("yolo").innerHTML = res[currentInstruction];
                document.getElementById("yolo_mom").innerHTML = "Step " + (currentInstruction + 1) + " of " + res.length;


        }
    });

};

// code to register key strokes
document.onkeydown = function(e) {
    e = e || window.event;
    switch(e.which || e.keyCode) {
        case 37: // left
            
            if($("#instuc").is(':visible')) {
            // check if we are at not first instruction
              if(currentInstruction  != 0) {
                currentInstruction -= 1;

              $("#yolo").hide("slide", { direction: "right" }, 200, function() {
                document.getElementById("yolo").innerHTML = res[currentInstruction];
                $("#yolo").show("slide", { direction: "left" }, 500);
              });;

                document.getElementById("yolo_mom").innerHTML = "Step " + (currentInstruction + 1) + " of " + res.length;

                // update mongo
                update_obj.current_step = currentInstruction + 1;
                update_obj.description = res[currentInstruction];
                socket.emit('user update', update_obj);
              }
            }

        break;

        case 38: // up

            $("#ingred").slideUp(500);
            $("#instuc").slideDown(500);

        break;

        case 39: // right

          if($("#instuc").is(':visible')) {
        
            // check if we are at the end of the instruction
            if(currentInstruction  != res.length - 1) {
              currentInstruction += 1;

              $("#yolo").hide("slide", { direction: "left" }, 200, function() {
                document.getElementById("yolo").innerHTML = res[currentInstruction];
                $("#yolo").show("slide", { direction: "right" }, 500);
              });;

              document.getElementById("yolo_mom").innerHTML = "Step " + (currentInstruction + 1) + " of " + res.length;

              // update mongo
              update_obj.current_step = currentInstruction + 1;
              update_obj.description = res[currentInstruction];
              socket.emit('user update', update_obj);
            }
          }

        break;

        case 40: // down

            $("#ingred").slideDown(500);
            $("#instuc").slideUp(500);

        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
};

function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}

$(document).on("click","#logo-container",function(event){
  event.preventDefault();
  socket.emit('keep-id', { user_id: update_obj.user_id }); 
  window.history.back();
 });

</script>

<body>

  <!-- Nav bar -->
  <nav class="red" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Chef Ware</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#"></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- Content -->
  <div id="countdowntimer"><span id="ms_timer"><span></div>

    <div class="row" style="margin-top:100px;">
      <div class="col m12 m5 instuc">
      	<div id="ingred">
      	</div>
      </div>
    </div>

    <div class="row" id="instuc">
      <div class="col m12 m5">
        <div class="card-header" id="yolo_mom">
        </div>
      </div>
      <div class="col m12 m5" id="animate_this">
      	<div id="yolo">
      	</div>
      </div>
  </div>




  <!-- Footer -->
  <footer class="page-footer red">
    <div class="footer-copyright">
      <div class="container">
      Foooooood. Yum
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script type="text/javascript" src="js/jquery.countdownTimer.js"></script>
  <script>

    // defining socket io to connect to the same user_id as before
    var socket = io();
    var my_name = "ishbaid";

    socket.emit('updateSocket and getUserID', { username: my_name });


    socket.on('receive_id', function(data) {
      alert("hit!");
      update_obj = {};
      update_obj.user_id = data.id;

      alert(JSON.stringify(update_obj, null, 2));
    });

    socket.on('timer_update', function(data) {
        alert(JSON.stringify(data, null, 2));
        // gary <3 this is where we would put the code to update 
        // the javascript timer on the page.
        // if its starting the timer, "data.type" will be "start" and "data.seconds" will be an integer

        // if its pausing the timer, "data.type" will be "pause" and "data.seconds" will be null
        // if its resuming the timer, "data.type" will be "resume" and "data.seconds" will be null
        var thisisatest1 = data.seconds / 60;
        var thisisatest2 = data.seconds % 60;

        if(data.type == "pause") {
          clearInterval(window['timer_MSms_timer']);
          console.log("Good");
        }
        else if(data.type == "resume") {
          
        }
        else {
          $(function(){
            $('#ms_timer').countdowntimer({
              minutes : Math.floor(thisisatest1),
              seconds : thisisatest2,
              size : "lg"
            });
          });
        }

    });

    // ************** TESTING WITH CURL **************
    // ./curl.exe -i -X POST -H 'Content-Type: application/json' -d '{ "seconds": 68, "type": "start" }' http://localhost:8080/api/timer/{user-id}


    // var update_obj = {
    //   "user_id": id,
    //   "current_step": 2,
    //   "description": "oh, nerman how r the apples?",
    //   "recipe": "teriyaki-chicken"
    // };
    // socket.emit('user update', update_obj);

  </script>

  </body>
</html>
