/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {      
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    height:100%;
    min-height:600px;
}

#instuc {
  font-family: 'abel', sans-serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#yolo {
  font-size:40px;
  margin-top:50px;
  width:900px;
  margin: 0px auto;
}

#yolo_mom {
  width:900px;
  margin: 0px auto;
}

#ingred {
  z-index:100; height:340px; display:none;
  width:900px;
  margin: 0px auto;
}

.card-header {
  width:100%;
  height:50px;
  vertical-align: middle;
  line-height: 35px; 
  font-size:35px;
  color:#333;
  padding-bottom: 0px;
  font-weight: 600;
  border-bottom: 3px solid #ef5350;
}

footer {
	position: absolute;
	bottom:0px;
	width: 100%;
}

@font-face {
    font-family: myFirstFont;
    src: url(Mission-Script.otf);
}

@font-face {
    font-family: roboto;
    src: url(../font/roboto/Roboto-Regular.ttf);
}

#logo-container {
  font-family: myFirstFont;
  font-size:50px;
}

#image_title {
  font-family: 'abel', sans-serif;
  width:300px;
  height: 50px;
  float:left;
  font-size:28px;
}
#image {
  width: 300px;
  height: 300px;
  float:left;
}
#number_of_steps {
  font-family: 'abel', sans-serif;
  width:200px;
  height:40px;
  float:right;
  font-size:18px;
  padding-top:15px;
  text-align: right;
}
.shell {
  width:300px;
  height:350px;
  float:left;
}

#mega_shell {
  width:630px;
  height:350px;
  margin: 0px auto;
}

#ingredients {
  font-family: 'abel', sans-serif;
  width:300px;
  height:300px;
  float:left;
  overflow: scroll;
}
























