/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {      
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    height:100%;
    min-height:600px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#yolo {
  font-size:30px;
  margin-top:50px;
  width:900px;
  margin: 0px auto;
}

#yolo_mom {
  width:900px;
  margin: 0px auto;
}

#ingred {
  overflow: scroll;
  z-index:100; height:300px; display:none;
  width:900px;
  margin: 0px auto;
}

.card-header {

  width:100%;
  height:50px;
  vertical-align: middle;
  line-height: 50px; 
  font-size:20px;
  color:#333;
}

footer {
	position: absolute;
	bottom:0px;
	width: 100%;
}










